<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>{$Think.CONFIG.sitename}</title>
<!--link rel="stylesheet" type="text/css" href="{$Think.CONFIG.URL}/style.css" />
    <script type="text/javascript" src="{$Think.CONFIG.URL}/js.js"></script-->
<meta name="keywords" content="{$Think.CONFIG.keywords}"/>
<meta name="description" content="{$Think.CONFIG.description}"/>
<style type="text/css" >
.td {
	width: 120;
}
</style>
</head>

<body>
<div class="hear" align="center">
  <h1>信息港公共机房日常巡查记录表</h1>
</div>
<div class="file_holder">
<div class="file_title"> <i class="octicon octicon-book"></i> </div>
<form class="main" style=" width:980px;margin:0 auto;" >
<table width="1024px">
  <tr width="980" text-align="center">
  <tr>
    <td> 周次：
      <input type="text" style="height:20px;width:80px;"  ></td>
    <td>课室：
      <input type="text" style="height:20px;width:80px;"  ></td>
    <td>时间:
      <select name="week">
        <option value="1">星期一</option>
        <option value="2">星期二</option>
        <option value="3">星期三</option>
        <option value="4">星期四</option>
        <option value="5">星期五</option>
        <option value="5">星期六</option>
        <option value="5">星期日</option>
      </select></td>
  </tr>
  <tr>
    <td><h3>上午</h3></td>
  </tr>
  <tr>
  <tr>
    <td>第一节</td>
    <td width="180">课前情况检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td width="180">课堂正常开展
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第二节</td>
    <td width="120">课前情况检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第三节</td>
    <td width="120">课前设备检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td width="120">课堂正常开展
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr >
  <tr>
    <td>第四节</td>
    <td width="120">课前设备检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课后保洁检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
    </tr>
  
  <tr>
    <td>第五节</td>
    <td>课前设备检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课堂正常开展
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第六节
    <td>课后日志检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课后设备检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第七节</td>
    <td>课前情况检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课堂正常开展
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第八节</td>
    <td>课前情况巡查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课后日志检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第九节</td>
    <td>课前情况检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>课堂正常开展
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
  <tr>
    <td>第十节</td>
    <td>课后日志检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
    <td>日常安全检查
      <select>
        <option value="1">已完成</option>
        <option value="2">没课</option>
        <option value="3">未完成</option>
      </select></td>
  </tr>
    </tr>
  
</table>
<form>
</div>
</body>
</html>
