<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>{$Think.CONFIG.sitename}</title>
<!--link rel="stylesheet" type="text/css" href="{$Think.CONFIG.URL}/style.css" />
    <script type="text/javascript" src="{$Think.CONFIG.URL}/js.js"></script-->
<meta name="keywords" content="{$Think.CONFIG.keywords}"/>
<meta name="description" content="{$Think.CONFIG.description}"/>
<style type="text/css" >
td {
	border-color: #000000;
	border-style: solid outset outset;
	border-width: thin;
	background-repeat: no-repeat;
}
.input{
		height: 50px;
	}

</style>
</head>
<body>
<div class="hear" align="center">
  <h1>信息港公共机房日常巡查记录表</h1>
</div>
<div class="file_holder">
<div class="file_title"> <i class="octicon octicon-book"></i> </div>
<form class="main" style=" width:980px;margin:0 auto;" method="post" action="{:U('/home/index/add')}" >
<table cellspacing="0" cellpadding="0" width="1024px">
  <tr>
    <td> 周次：
      <input type="text" style="height:20px;width:80px;"  ></td>
    
    <td>时间:
      <select name="week">
        <option value="星期一">星期一</option>
        <option value="星期二">星期二</option>
        <option value="星期三">星期三</option>
        <option value="星期四">星期四</option>
        <option value="星期五">星期五</option>
        <option value="星期六">星期六</option>
        <option value="星期日">星期日</option>
      </select></td>
      <td>填报人：{$user.user}
      <!-- <select name="people">
        <option value="陈首忠">陈首忠</option>        -->
        <!-- <option value="林志峰">林志峰</option> -->
        <!-- <option value="廖桂芳">廖桂芳</option> -->
        <!-- <option value="王斌">王斌</option> -->
        <!-- <option value="曾俊">曾俊</option> -->
        <!-- <option value="钟文新">钟文新</option> 
      </select>--></td>
  </tr>
  <tr>
   <td>序号</td>   
   <td>设备情况</td>
   <td>卫生情况</td>
   <td>日志情况</td>
   <td>其他情况</td>
    
  </tr>
  <tr>
  	<td rowspan="4">上午</td>
		
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	<td rowspan="4">下午</td>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	
  	<td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50" name="textfield" id="textfield"></td> 
  </tr>
  <tr>
  	<td height="41" rowspan="2">晚上</td>
  	
  	<td>
    <input type="text" height="50px" name="textfield" id="textfield"></td>
     <td>
    <input type="text" height="50px" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50px" name="textfield" id="textfield"></td>
    <td>
    <input type="text" height="50px" name="textfield" id="textfield"></td> 
  </tr> 
</table>
<input type="submit" value="提交" ><input type="reset" value="重置" >
<form>
</body>
</html>
