<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="hear" align="center">
			<h2><input type="text" maxlength="4" style="height: 20px;width: 60px;">
			至<input type="text" maxlength="4" style="height: 20px;width: 60px;">学年 
			第<input type="text" maxlength="2" style="height: 20px;width: 60px;">学期 
			第<input type="text" maxlength="2" style="height: 20px;width: 60px;">周 
			<form action=" " method="get">
				时间： <input type="time" name="user_time" />
			填报人：默认当前用户
			<input type="submit" /></h2>
			</form>
			
			<table border="1px" cellspacing="0" cellpadding="0" width="620px">
				<tr>
						<td width="620px" height="50px" colspan="4">日常巡查工作记录表:</td>
					</tr>
					<tbody>
					<tr style="width:620px">
						<td width="100px" align="center" width="200px">时间:</td>
						<td width="120px" align="center" rowspan="2">节数</td>
						<td width="155px" colspan="2" align="center">
							<select name="language">
							    <option value="周一">周一</option>
							    <option value="周二">周二</option>
							    <option value="周三">周三</option>
								<option value="周四">周四</option>
								<option value="周五">周五</option>
							 </select>
						</td>
					</tr>
					<tr style="width:620px" >
						<td align="center" rowspan="6">上午</td>
						<td align="center">设备情况</td>
						<td align="center">日志情况</td>
						
					</tr>
					<tr>
						<td align="center">1</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">2</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">3</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">4</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							 <input type="text" style="width: 120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						
					</tr>
					
					<tr>
						<td align="center">其他事宜</td>
						<td colspan="2">
							<input type="text" style="width: 375px;" maxlength="50" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center" rowspan="3">下午</td>
						<td align="center">5</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">6</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">其他事宜</td>
						<td colspan="2">
							<input type="text" style="width: 375px;" maxlength="50" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center" rowspan="5">晚上</td>
						<td align="center">7</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">8</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td align="center">9</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					<tr>
						<td align="center">10</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
						<td>
							  <input type="checkbox" name="vehicle" value="1" checked="checked" />正常
							  <input type="text" style="width:120px;" maxlength="30" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					<tr>
						<td align="center">其他事宜</td>
						<td colspan="2">
							<input type="text" style="width:375px;" maxlength="50" name="demo" id=" testTable" value=" " />
						</td>
					</tr>
					
					<tr>
						<td width="620px" height="50px" colspan="4">卫生情况检查记录表：</td>
					</tr>
					
						<tr>
							<td align="center">时间:</td>
							<td>&nbsp;</td>
							<td align="center" colspan="2">&nbsp;</td>
						</tr>
						
						<tr>
							<td rowspan="5" align="center">中午</td>
							<td rowspan="4">12:00-13:00</td>
							<td>保洁情况</td>
							<td>
								<input type="checkbox" name="vehicle" value="1" checked="checked" />无安排<br />
							</td>
						</tr>
						
						<tr>
							<td>保洁安排(签名)</td>
							<td>
								<input type="text" style="width:180px;" maxlength="10" name="demo" id=" testTable" value=" " />
							</td>
						</tr>
						
						<tr>
							<td>人员到位</td>
							<td>
								<label><input name="a" type="radio" checked="checked"/>到位</label>
								<label><input name="a" type="radio" />缺席</label>
							</td>
						</tr>
						
						<tr>
							<td>卫生情况</td>
							<td>
								<label><input name="b" type="radio" checked="checked"/>合格</label>
								<label><input name="b" type="radio" />不合格</label>
							</td>
						</tr>
						
						<tr>
							<td align="center">存在问题</td>
							<td colspan="2">
								<input type="text" style="width: 375px;" maxlength="50" name="demo" id=" testTable" value=" " />
							</td>
						</tr>
						
						<tr>
							<td width="620px" height="50px" colspan="4">晚班管理工作记录表：</td>
						</tr>
								
						<tr>
							<td rowspan="9" align="center">晚上</td>
							<td align="center" rowspan="6">必须检查事项</td>
							<td align="center" colspan="2">&nbsp;</td>
						</tr>
								
						<tr>
							<td>电源关闭</td>
							<td><input type="text" style="width: 170px;" maxlength="10" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td>桌椅摆齐</td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td>清倒垃圾</td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td>锁闭门窗</td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td>楼道巡查</td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td rowspan="2" align="center">执勤评价</td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
							<td><input type="text" style="width: 170px;" maxlength="30" name="demo" id=" testTable" value=" " /></td>
						</tr>
								
						<tr>
							<td align="center">其他事宜</td>
							<td colspan="2">
								<input type="text" style="width:370px;" maxlength="50" name="demo" id=" testTable" value=" " />
							</td>
						</tr>
								
								<tr style="width:620px" >
									<td align="center" rowspan="3">数据采集目标</td>
									<td align="center">1</td>
									<td colspan="4">（1）宏观维度上采集每日巡查工作情况，督办落实到位，
									形成工作量统计及其佐证材料（2）减少每次数据采集任务，临时填补空缺资料
									情况，数据真实度（3）形成投诉问题及时情况跟踪，对师生座谈会反馈问题</td>
								</tr>
								<tr>
									<td align="center">2</td>
									<td colspan="4"><textarea cols="50" rows="4" style="overflow: hidden;"></textarea></td>
								</tr>
								<tr>
									<td align="center">3</td>
									<td colspan="4"><textarea cols="50" rows="4" style="overflow: hidden;"></textarea></td>
								</tr>
							</tbody>
						</table>
		
	</body>
</html>
