<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>仓库物料领用申请单</title>
	</head>
	<body>
		<div style="margin:0 auto;width: 1024px;">
			<form action="" method="post">

		<div class="hear" align="center">
			<h4 align="right">附件22</h4>
			<h2>南博集团仓库物料领用申请单</h2>
			<h4>申请部门：<input type="text" name="" id="" value="" />
			签领人：<input type="text" name="" id="" value="" />时间：
			<input type="text" name="" id="" value="" />
			编号：LY-<input type="text" name="" id="" value="" /></h4>
		</div>
		<table border="1px" cellspacing="0" cellpadding="0" width="1024px" align="center">
			<tr>
				<td width="80px" height="40px" align="center">序号</td>
				<td width="160px" height="40px" align="center">物料编码</td>
				<td width="200px" height="40px" align="center">物料名称</td>
				<td width="160px" height="40px" align="center">规格型号</td>
				<td width="80px" height="40px" align="center">数量</td>
				<td width="80px" height="40px" align="center">单位</td>
				<td width="200px" height="40px" align="center">用途</td>
			</tr>
			
			<tr>
				<td width="80px" height="40px" align="center">1</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
			</tr>
			
			<tr>
				<td width="80px" height="40px" align="center">2</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
			</tr>
			
			<tr>
				<td width="80px" height="40px" align="center">3</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
			</tr>
			
			<tr>
				<td width="80px" height="40px" align="center">4</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
			</tr>
			
			<tr>
				<td width="80px" height="40px" align="center">5</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
				<td width="160px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 155px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="80px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 75px;"/></label>
				</td>
				<td width="200px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 195px;"/></label>
				</td>
			</tr>
				
			<tr>
				<td height="80px" align="center" colspan="2">领用事由</td>
				<td colspan="5">
					<textarea rows="4" cols="120" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td height="80px" align="center" colspan="2">部门主管审核意见</td>
				<td colspan="5">
					<textarea rows="4" cols="120" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
		</table>
		</form>
		</div>
		<h3 align="center">备注：领用维修材料、工具、实训材料、持久性办公用品等采取“以旧换新”方式领用。</h3>
	
	</body>
</html>
