<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>信息港机房耗材</title>
	</head>
	<body>
		<div style="margin:0 auto;width: 1400px;">
			<form action="" method="">
		
		<div class="hear" align="center">
			<h2>信息港机房耗材--姓名:
			{$user.user}
			</h2>
			<h4 align="left">附表1</h4>
		</div>
		
		<table border="1px" cellspacing="0" cellpadding="0" width="1400px" align="center">
			<tr>
				<td width="50px" height="40px" align="center">序号</td>
				<td width="100px" height="40px" align="center">物料品牌名称</td>
				<td width="100px" height="40px" align="center">规格型号</td>
				<td width="60px" height="40px" align="center">单价</td>
				<td width="60px" height="40px" align="center">数量</td>
				<td width="70px" height="40px" align="center">预计金额</td>
				<td width="120px" height="40px" align="center">使用机房</td>
				<td width="220px" height="40px" align="center">内容/链接</td>
				<td width="120px" height="40px" align="center">紧急更换1、备件2</td>
				<td width="140px" height="40px" align="center">备注</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">1</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					  <p><input type="checkbox" name=" " value="a" />更换
					  <input type="checkbox" name=" " value="a" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="<2></2>" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">2</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="b" />更换
					<input type="checkbox" name=" " value="b" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">3</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="c" />更换
					<input type="checkbox" name=" " value="c" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">4</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="d" />更换
					<input type="checkbox" name=" " value="d" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">5</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="p" />更换
					<input type="checkbox" name=" " value="p" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">6</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="s" />更换
					<input type="checkbox" name=" " value="s" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">7</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="aa" />更换
					<input type="checkbox" name=" " value="aa" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">8</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="s" />更换
					<input type="checkbox" name=" " value="s" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">9</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="bb" />更换
					<input type="checkbox" name=" " value="bb" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">10</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="cc" />更换
					<input type="checkbox" name=" " value="cc" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">11</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="qq" />更换
					<input type="checkbox" name=" " value="qq" />备件</p></td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">12</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="rr" />更换
					<input type="checkbox" name=" " value="rr" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">13</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="ss" />更换
					<input type="checkbox" name=" " value="ss" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">14</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="ll" />更换
					<input type="checkbox" name=" " value="ll" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">15</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="kk" />更换
					<input type="checkbox" name=" " value="kk" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">16</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="ff" />更换
					<input type="checkbox" name=" " value="ff" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">17</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="yy" />更换
					<input type="checkbox" name=" " value="yy" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">18</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="rr" />更换
					<input type="checkbox" name=" " value="rr" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">19</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="gg" />更换
					<input type="checkbox" name=" " value="gg" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
			<tr>
				<td width="50px" height="40px" align="center">20</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<textarea rows="2" cols="12" style="overflow: hidden;">	
					</textarea>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="60px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 60px;"/></label>
				</td>
				<td width="70px" height="40px" align="center">
					<label><input type="text" name="" id="" value="" style="height: 25px;width: 70px;"/></label>
				</td>
				<td width="120px" height="40px" align="center">
					<textarea rows="2" cols="15" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="220px" height="40px" align="center">
					<textarea rows="2" cols="32" style="overflow: hidden;">
					</textarea>
				</td>
				<td width="100px" height="40px" align="center">
					<p><input type="checkbox" name=" " value="pp" />更换
					<input type="checkbox" name=" " value="pp" />备件</p>
				</td>
				<td width="140px" height="40px" align="center">
					<textarea rows="2" cols="20" style="overflow: hidden;">
					</textarea>
				</td>
			</tr>
			
		</table>
		</div>
	</body>
</html>
